{% extends 'home/base.html' %}
{% block content %}
<section class="service-section-4 pt-120 pb-120">
    <div class="container">
        <div class="row gy-4 fade-wrapper">
            <div class="col-lg-4 col-md-6">
                <div class="service-item-4 fade-top">
                    <div class="service-thumb">
                        <img class="main-img" src="https://s3.tebi.io/glittesenterprise/assets/img/service/service-img-4.png" alt="service">
                        <div class="icon"><img src="https://s3.tebi.io/glittesenterprise/assets/img/icon/service-icon-5.png" alt="icon"></div>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Written Content Creation</h3>
                        <p>We create keyword-optimized, well-tailored CVs, cover letters, articles, business proposals, and more for both job and school applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-4 fade-top">
                    <div class="service-thumb">
                        <img class="main-img" src="https://s3.tebi.io/glittesenterprise/assets/img/service/service-img-5.png" alt="service">
                        <div class="icon"><img src="https://s3.tebi.io/glittesenterprise/assets/img/icon/service-icon-6.png" alt="icon"></div>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Editing & Proofreading</h3>
                        <p>We enhance the clarity and readability of your content. From manuscripts to business documents, we ensure that your final copies are polished and error-free.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item-4 fade-top">
                    <div class="service-thumb">
                        <img class="main-img" src="https://s3.tebi.io/glittesenterprise/assets/img/service/service-img-6.png" alt="service">
                        <div class="icon"><img src="https://s3.tebi.io/glittesenterprise/assets/img/icon/service-icon-7.png" alt="icon"></div>
                    </div>
                    <div class="service-content">
                        <h3 class="title">Graphic Design</h3>
                        <p>We create visually stunning designs such as flyers, posters, business cards, and magazine covers, tailored to engage your target audience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ service-section -->

<section class="service-process pt-120 pb-120">
    <div class="container">
        <div class="section-heading">
            <h4 class="sub-heading" data-text-animation="fade-in" data-duration="1.5"><span class="left-shape"></span>How We Work</h4>
            <h2 class="section-title mb-0" data-text-animation data-split="word" data-duration="1">Our 4-Step Process</h2>
        </div>
        <div class="row gy-lg-0 gy-4 fade-wrapper">
            <div class="col-lg-3 col-md-6 fade-top">
                <div class="service-process-card">
                    <span class="number">01</span>
                    <h3 class="title">Consultation</h3>
                    <p>We begin by understanding your specific needs and goals to tailor our services to your expectations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fade-top">
                <div class="service-process-card">
                    <span class="number">02</span>
                    <h3 class="title">Drafting</h3>
                    <p>Our team creates the first draft of your project, ensuring all your requirements are met.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fade-top">
                <div class="service-process-card">
                    <span class="number">03</span>
                    <h3 class="title">Revisions</h3>
                    <p>We work closely with you to revise the draft, ensuring every detail aligns with your expectations.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 fade-top">
                <div class="service-process-card">
                    <span class="number">04</span>
                    <h3 class="title">Final Delivery</h3>
                    <p>We deliver the final product, polished and ready to help you achieve your goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ service-process-section -->

{% endblock %}
